@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <h1 class="display-4"><a href="https://github.com/valsanchez1969/ProjetoElevador"></a></h1>
    <h1>Detalhamento do projeto:</h1>
    <h1  class="display-3">
O projeto Elevador solicitado pelo profº Lucas Aragão propõe o funcionamento de um Elevador.
<p>O programa inicia solicitando:</p>
<p>O número de andares do prédio, capacidade de pessoas no elevador e segue solicitando o elevador para baixo e para cima por meio do botão de andares. No momento de entrada do elevador o projeto segue verificando quantas pessoas existem no elevador e não ultrapasse a capacidade do mesmo.</p>
Chegando no andar desejado, o elevador informa a chegada no andar.</h1>
</div>
